.header__content {
  padding-top: 45px;
  max-width: 880px;
  height: 74px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto 40px auto;
  border-bottom: 1px solid #545454;
}
.header__logo {
  max-width: 173px;
}
