.header__content {
  padding-top: 45px;
  max-width: 880px;
  height: 74px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto 40px auto;
  border-bottom: 1px solid #545454;
}
.header__logo {
  max-width: 173px;
}
@media screen and (max-width: 320px) {
  .header__content {
    width: auto;
    height: auto;
    max-width: 320px;
    max-height: 56px;
    padding-top: 28px;
    margin-bottom: 42px;
  }
  .header__logo {
    width: auto;
    height: auto;
    max-width: 126px;
    max-height: 24px;
    margin: 0 auto 32px 27px;
  }
}
